body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #167D7F;
    min-width: min-content;
}

.welcome{
    display: flex;
    flex: 1;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    color: #DDFFE7;
    font-weight: bold;
    padding: 10px;
    border-color: black;
    background-color: #29A0B1;
}

.grid{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-color: black;
    background-color: #98D7C2;
}

.gridsquare {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid black;
}

.gridrow {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: space-evenly;
}

.pixel {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(221, 220, 220);
}

button {
    width: 200px;
    margin: 5px 0px;
    align-self:center;
    background: rgb(255, 255, 255);
    /* text-shadow: 0 0 .5rem black; */
    border: .1rem solid #98D7C2;;
    border-radius: .5rem;
    font-weight: bold;
    color: #167D7F;
}